.store-container-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3%;
}

.column-store-stock {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  grid-row-gap: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 30vh;
}

.column-stores-stock-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 500px;
  min-width: 55%;
  z-index: 2;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.column-latest-thumbnail {
  width: 100% !important;
}

.column-latest-jumlah {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
}

.plus-btn {
  background-color: #32cd30;
  border-width: 0px;
  margin-right: 10%;
}

.minus-btn {
  background-color: red;
  border-width: 0px;
  margin-left: 10%;
}

.update-btn-store {
  margin-top: 20%;
}
