a {
  color: black;
}

a:hover {
  color: black;
}

.column-store {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  grid-row-gap: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 90vh;
}

.column-stores-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  height: 600px;
  min-width: 55%;
  z-index: 2;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.column-latest-alamat {
  margin-top: 5%;
  width: 125px;
}
.column-latest-thumbnail {
  width: 100% !important;
}

.edit-btn {
  width: 125px;
  margin-top: 10%;
}

.remove-btn {
  width: 125px;
  margin-top: 5%;
}

.searchbar {
  margin-top: 4%;
}

.store-title {
  margin-top: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
